.nav-search-button {
  border: none;
  padding: 0;
  font-size: 22px;

  position: relative;
  top: 1.2px ;

  transition: color 0.1s ;
}

.nav-search-button:hover {
  color: var(--nav__a--hover-color) ;
}
