main.pages-layout-main {
  margin-top: 70px;
  /* background-color: red; */
}

/* div.sign-log-theme-nav__skeleton-div {
  background-color: red;
  display: flex;
  gap: 10px ;

}

div.sign-log-theme-nav__skeleton-div > span {
  width: 20px;
  background-color: lightgray;
  height: 50px;
} */
